// Color system

//grays
$white: #fff !default;
$gray-100: #f6fafe !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #afb5c1 !default;
$gray-600: #6c757d !default;
$gray-700: #4F5467 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000000 !default;
$dark-1: #1e2028 !default;
$dark-2: #41444b !default;
$gray-1: #52545c !default;
$gray-2: #767980 !default;
$gray-3: #acb6bf !default;
$gray-4: #c7d0d9 !default;
$gray-5: #dde4ed !default;
$gray-6: #e9edf2 !default;
$gray-7: #f7f8fa !default;

//primary colors
$black: #000 !default;
$blue: #137eff !default;
$indigo: #6610f2 !default;
$purple: #8b5edd !default;
$pink: #e83e8c !default;
$red: #fa5838 !default;
$orange: #fb8c00 !default;
$yellow: #ffbc34 !default;
$green: #5ac146 !default;
$teal: #20c997 !default;
$cyan: #4fc3f7 !default;

//background-color-system
$main-body-bg: #fff !default;
$body-bg: #f2f4f5;
$body-color: #6a7a8c !default;

//colors-based-on-buttons
$primary: $blue !default;
$primary-hover: $purple !default;
$secondary: $gray-600 !default;
$secondary-hover: $gray-600 !default;
$success: $green !default;
$success-hover: $green !default;
$info: $blue !default;
$info-hover: $blue !default;
$warning: $yellow !default;
$warning-hover: $yellow !default;
$danger: $red !default;
$danger-hover: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

//semantic ui style colors
$message-background: $info !default;
$header-text-color: $blue !default;
$card-background-color:$gray-800 !default;
$label-text-color: $warning !default;
$button-background: $green !default;
$input-text: $gray-700 !default;
$input-background-color: $gray-400 !default;
$button-success-light: gray !default;
$modal-header: #908 !default;
$modal-content: #678 !default;

//theme-colors
$navBar-dark: #171f4c !default;
$ui-message-background-color: #7f7f7f !default;
$ui-message-header-background-color: #945 !default;
$ui-menu-background-color: #fff !default;
$ui-label-font-color: #fff !default;
$ui-label-background-color:#fff !default;


$default-label: #fff !default;

$button-success: green !default;

$blue-faint: #f5f9ff;
$blue-light: #5794f2;
$blue-base: #3274d9;
$blue-shade: #1f60c4;
$red-base: #e02f44;
$red-shade: #c4162a;
$green-base: #3eb15b;
$green-shade: #369b4f;

// Accent colors
// -------------------------
$blue: #0083b3;
$red: $red-base;
$yellow: #ff851b;
$orange: #ff7941;
$purple: #9954bb;
$variable: #0083b3;

$brand-primary: #ff7941;
$brand-success: #3eb15b;
$brand-warning: #ff7941;
$brand-danger: #e02f44;

$query-red: #e02f44;
$query-green: #3eb15b;
$query-purple: #9954bb;
$query-orange: #ff7941;
$query-keyword: #3274d9;

$themes: (dark: (mainColor: #4d6fe9,
    secondaryColor:#fff,
    bodyBackground: linear-gradient(129deg, rgba(90,22,136,0.9260209677875906) 10%, rgba(37,188,218,0.8970354605412137) 70%),
    labelColor:#fff,
    cardLabelHeader:#fff,
    modalHeader:#2A1B3D,
    modalContent:#fff,
    modalImage:#fff,
    inputTextColor: #000,
    inputBackgroundColor: #fff,
    headerFontColor:#fff,
    headerBackground:#59253A,
    buttonSuccess:#00bbe1,
    messageHeaderColor: #2D5F5D,
    boxShadow: none,
    buttonFailBackgroundColor: #fff,
    buttonSuccessFontColor: #4234,
    buttonSuccessBackgroundColor: #6b4332),
  light: (mainColor: #4d6fe9,
    secondaryColor:#fff,
    labelColor:#fff,
    cardLabelHeader:#fff,
    modalHeader:#2A1B3D,
    modalContent:#fff,
    modalImage:#fff,
    inputTextColor: #000,
    inputBackgroundColor: #fff,
    headerFontColor:#fff,
    headerBackground: linear-gradient(159deg, rgba(85, 102, 168, 0.8) 40%, rgba(40, 149, 195, 0.8) 80%),
    buttonSuccess:#00bbe1,
    messageHeaderColor: #2D5F5D,
    boxShadow: none,
    buttonFailBackgroundColor: #b91e1e,
    buttonSuccessFontColor: #4234,
    buttonSuccessBackgroundColor: #6b4332));