// Color system
//
$white: #fff !default;
$gray-100: #f6fafe !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #afb5c1 !default;
$gray-600: #6c757d !default;
$gray-700: #4F5467 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$blue: #137eff !default;
$indigo: #6610f2 !default;
$purple: #8b5edd !default;
$pink: #e83e8c !default;
$red: #fa5838 !default;
$orange: #fb8c00 !default;
$yellow: #ffbc34 !default;
$green: #5ac146 !default;
$teal: #20c997 !default;
$cyan: #4fc3f7 !default;
$primary: #7460ee !default;
$colors: (blue: $blue, indigo: $indigo, purple: $purple, pink: $pink, red: $red, orange: $orange, yellow: $yellow, green: $green, teal: $teal, cyan: $cyan, white: $white, gray: $gray-600, gray-dark: $gray-800);

//background-color-system
$main-body-bg: #fff !default;
$body-bg: #f2f4f5;
$body-color: #6a7a8c !default;

//colors-based-on-buttons
$primary: $blue !default;
$primary-hover: $purple !default;
$secondary: $gray-600 !default;
$secondary-hover: $gray-600 !default;
$success: $green !default;
$success-hover: $green !default;
$info: $blue !default;
$info-hover: $blue !default;
$warning: $yellow !default;
$warning-hover: $yellow !default;
$danger: $red !default;
$danger-hover: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
$cyan: $cyan !default;
$orange: $orange !default;


//semantic ui style colors
$message-background: $info !default;

$header-text-color: $blue !default;

$card-background-color:$gray-800 !default;

$label-text-color: $warning !default;

$button-background: $green !default;

$input-text: $gray-700 !default;

$input-background-color: $gray-400 !default;

$button-success-light: gray !default;


//theme-colors
$navBar-dark: #171f4c !default;
$ui-message-background-color: #7f7f7f !default;
$ui-message-header-background-color: #945 !default;
$ui-menu-background-color: #fff !default;
$ui-label-font-color: #fff !default;
$ui-label-background-color:#fff !default;

$default-header: #fff !default;

$link: #4534 !default;
$default-label: #fff !default;

$button-success: green !default;