@mixin theme-font($param, $color) {
    @if($param=='header', $color) {
        color: $color !important;
    }
    @else if($param=='h1', $color) {
        color: $color !important;
    }
    @else if($param=='h2', $color) {
        color: $color !important;
    }
    @else if($param=='h3', $color) {
        color: $color !important;
    }
    @else if($param=='h4', $color) {
        color: $color !important;
    }
    @else if($param=='card-label', $color) {
        color: $color !important;
    }
}


@mixin theme-background($param , $color){
    @if($param=='ui-message') {
        background: $color !important;
    }

    @else if($param=='ui-header') {
        background: $color !important;
    }

    @else if($param=='card-content') {
        background-color: $color !important;
    }

    @else if($param=='button') {
        background-color: $color !important;
    }

    @else if($param=='input') {
        color: $color !important;
        background-color: $color !important;
    }
    @else if($param=='ui-nav') {
        background: $color !important;
    }
    @else if($param=='ui-modal-header-background') {
        background: $color !important;
    }
    @else if($param=='card-header') {
        background: $color !important;
    }
}