@mixin theme-font($param, $color) {
    @if($param=='header', $color) {
        color: $color !important;
    }
    @else if($param=='h1', $color) {
        color: $color !important;
    }
    @else if($param=='ui-label', $color) {
        color: $color !important;
    }
}


@mixin theme-background($param , $color){
    @if($param=='ui-message') {
        background: $color !important;
    }

    @else if($param=='ui-header', $color) {
        background: $color !important;
    }

    @else if($param=='card', $color) {
        background-color: $color !important;
    }

    @else if($param=='button', $color) {
        background-color: $color !important;
    }

    @else if($param=='input', $color) {
        color: $color !important;
        background-color: $color !important;
    }
}